@use '../../styles/variables';

/*.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 30px;
  flex-grow: 1;
}*/

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 30px;
  padding: 30px;
  flex-grow: 1;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;  
}

.notFound {
  text-align: center;
  font-size: 2rem;
  line-height: 1.6;
  color: variables.$color-dark-blue;
}

.paginationContainer {
  display: flex;
}

.paginationItem {
  display: inline-block;
  padding: 5px 10px;
  color: variables.$color-dark-blue;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: variables.$color-button-hover;
  }
}
