@use '../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$color-orange;
  padding: 20px;
}

.logo {
  width: 120px;
  height: 44px;
  background: url("./logo.svg") center/contain no-repeat;
}

.searchForm {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 50%;
  transform: translateX(50%);
}

.searchInput {
  width: 180px;
  height: 20px;
  padding: 3px 10px 3px 8px;
  border: 2px solid variables.$color-peach;
  border-radius: 3px;
  color: variables.$color-dark-blue;
  font-weight: bold;
  &:active {
    cursor: text;
  }
}

.searchButton {
  padding: 3px 10px;
  background-color: variables.$color-peach;
  color: variables.$color-dark-blue;
  border: none;
  border-radius: 3px;
  font-size: 1.3rem;
  font-weight: bold;
  transition: background-color 0.4s;
  &:hover {
    cursor: pointer;
    background-color: variables.$color-button-hover;
  }
}
